:root {
    --color-blue-50: #d9ffff;
    --color-blue-100: #c8edff;
    --color-blue-200: #b8dcf4;
    --color-blue-300: #a7cbe3;
    --color-blue-400: #97bad1;
    --color-blue-500: #8fb2c9;
    --color-blue-600: #608197;
    --color-blue-700: #335368;

    --color-accent: var(--color-blue-300);
    --color-accent-hover: var(--color-blue-200);
    --color-accent-strong: var(--color-blue-400);
    --border-color: oklch(50% 10% 200 / 40%);
}

html {
    accent-color: var(--color-accent);
    color-scheme: light dark;
    background-color: canvas;
    color: canvastext;
}

/* html {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
} */

body {
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 90ch;
    margin-inline: auto;
    padding: 20px;
}

nav {
    display: flex;
    margin-bottom: 10ch;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /* border-bottom-color: var(--color-blue-400); */
    border-bottom-color: var(--border-color);

}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;

}

nav a.current {
    color: var(--color-blue-600);
    border-bottom: 0.4em solid var(--color-blue-200);
    padding-bottom: 0.5em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-blue-400);
    color: var(--color-blue-600);
    background-color: color-mix(in oklch, var(--color-blue-100), canvas 15%);
    transition: all 0.2s ease;

}

label,
input,
textarea,
button {
    font: inherit;
    box-sizing: border-box;
}

button {
    grid-column: 1 / -1;
}



input,
textarea {
    border: 1px solid oklch(70% 3% 200 / 60%);
    /* grey border */
    background-color: canvas;
    /* automatically change to light/dark */
    color: canvastext;
    /* automatically change text color */
    border-radius: 6px;
    padding: 0.4em;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
}


form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em
}

label:not(.color-scheme) {
    display: contents;
}

/* label {
    display: contents;
    /* display: grid;
    grid-template-columns: subgrid; */
/* } */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.5em;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

/* adjust the size of the pictures */
.projects img {
    width: 100%;
    /* no larger than the container */
    height: auto;
    /* keep the ratio */
}


.projects article h2 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: 300%;
}

body.resume h2 {
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin-block: 1em;
    min-width: 6em;
}

body.resume img {
    display: block;
    margin: 1em 0;
    border-radius: 10px;
    max-width: 200px;
    height: auto;
}

body.resume h2:hover {
    border-bottom: 0.4em solid var(--color-accent-strong);
    color: white;
    background-color: var(--color-accent-hover);
}

body.contact h2 {
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin-block: 1em;
    width: 10em;
}


body.contact h2:hover {
    border-bottom: 0.4em solid var(--color-accent-strong);
    color: white;
    background-color: var(--color-accent-hover);
}

.color-scheme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

/* body {
    position: relative;
} */


#profile-stats {
    margin-top: 30px;
    /* background-color: transparent; */
    color: #fff;
}

#profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* divide in four columns */
    text-align: center;
    gap: 10px;
    margin: 0;
    padding: 20px 0;
}

#profile-stats dt {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #858282;
    /* light grey */
    grid-row: 1;
}

#profile-stats dd {
    font-size: 2rem;
    /* font-weight: bold; */
    color: #272525;
    margin: 0;
    grid-row: 2;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* Home page layout */
.latest-projects {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.latest-projects article {
    flex: 1 1 30%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 1em;
}

.latest-projects h2,
.latest-projects h3 {
    font-size: 1.1rem;
    line-height: 1.3;
    word-wrap: break-word;
}

.latest-projects img {
    width: 100%;
    border-radius: 6px;
}

.year {
    color: gray;
    font-family: Baskerville;
    font-variant-numeric: oldstyle-nums;
    font-size: 1.0em;
    margin-top: 0.3em;
}

#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
}


/* the whole legend area */
.legend {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    /* automatically change to next line */
    /* justify-content: center; */
    gap: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    margin-top: 1.5em;
}

/* for each legend */
.legend li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* set the swatch */
.legend .swatch {
    width: 1em;
    height: 1em;
    background-color: var(--color);
    border-radius: 3px;
    display: inline-block;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
    margin-block: 2em;
}

svg:has(path:hover) path:not(:hover) {
    opacity: 0.5;
}

path {
    transition: 300ms;
    cursor: pointer;
}

.selected {
    --color: oklch(60% 45% 0) !important;

    &:is(path) {
        fill: var(--color);
    }
}


/* stats for Meta page */
#stats {
    margin-top: 30px;
    /* background-color: transparent; */
    color: #fff;
}

#stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* divide in four columns */
    text-align: center;
    gap: 10px;
    margin: 0;
    padding: 20px 0;
}

#stats dt {
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #858282;
    /* light grey */
    grid-row: 1;
}

#stats dd {
    font-size: 2rem;
    /* font-weight: bold; */
    color: #272525;
    margin: 0;
    grid-row: 2;
    transition: transform 0.2s ease, color 0.2s ease;
}

.gridlines line {
    stroke: #999;
    stroke-opacity: 0.2;
}

.gridlines path {
    display: none;
    /* hide y axis */
}


dl.info {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.25rem 0.75rem;
    margin: 0.5rem 0;
}

dl.info dt {
    font-weight: 600;
    color: #666;
}

dl.info dd {
    margin: 0;
    color: #222;
}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;

    @starting-style {
        r: 0;
    }
}


circle:hover {
    transform: scale(1.5);
}

dl.info {
    /* ... other styles ... */
    transition-duration: 500ms;
    transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
    opacity: 0;
    visibility: hidden;
}

/* decorate the selection box */
@keyframes marching-ants {
    to {
        stroke-dashoffset: -8;
        /* 5 + 3 */
    }
}

.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
}

circle.selected {
    fill: #ff6b6b;
}



#language-breakdown dt,
#language-breakdown dd {
    display: block;
    margin: 0;
    padding: 0;
}

#language-breakdown dt {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.3em;
}


#commit-progress {
    -webkit-appearance: none;
}

/* style of the track */
#commit-progress::-webkit-slider-runnable-track {
    height: 4px;
    background: #ccc;
    border-radius: 2px;
}

/* style of the slider-thumb */
#commit-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #1d6eed;
    border: none;
    margin-top: -6px;
}

#files {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#files>div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

#files dt small {
    display: block;
    font-size: 0.8em;
    opacity: 0.6;
    margin-top: 0.25em;
}

#files dd {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    gap: 0.15em;
    padding-top: 0.6em;
    margin-left: 0;
}

.loc {
    display: flex;
    width: 0.5em;
    aspect-ratio: 1;
    background: var(--color);
    border-radius: 50%;
}

#scrolly-1 {
    position: relative;
    display: flex;
    gap: 1rem;

    >* {
        flex: 1;
    }
}

#scatter-story {
    position: relative;
}

#scatter-plot {
    position: sticky;
    top: 0;
    left: 0;
    bottom: auto;
    height: 80vh;
}

#scrolly-1 {
    display: flex;
    gap: 2rem;
    position: relative;
}

#scatter-story {
    flex: 1;
}

#scatter-plot {
    flex: 1;
    position: sticky;
    top: 0;
    height: 90vh;
    padding-top: 2rem;
}

#scatter-story .step {
    min-height: 15vh;
    align-items: center;
}