:root {
    --color-blue-50: #d9ffff;
    --color-blue-100: #c8edff;
    --color-blue-200: #b8dcf4;
    --color-blue-300: #a7cbe3;
    --color-blue-400: #97bad1;
    --color-blue-500: #8fb2c9;
    --color-blue-600: #608197;
    --color-blue-700: #335368;

    --color-accent: var(--color-blue-300);
    --color-accent-hover: var(--color-blue-200);
    --color-accent-strong: var(--color-blue-400);
}

html {
    accent-color: var(--color-accent);
}

/* html {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
} */

body {
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font
    */
    font: 100%/1.5 system-ui;
    max-width: 90ch;
    margin-inline: auto;
    padding: 20px;
}

nav {
    display: flex;
    margin-bottom: 10ch;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-blue-400);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;

}

nav a.current {
    color: var(--color-blue-600);
    border-bottom: 0.4em solid var(--color-blue-200);
    padding-bottom: 0.5em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-blue-400);
    color: var(--color-blue-600);
    background-color: var(--color-blue-100);
    transition: all 0.2s ease;
}

label,
input,
textarea,
button {
    font: inherit;
    box-sizing: border-box;
}

button {
    grid-column: 1 / -1;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em
}

label {
    display: contents;
    /* display: grid;
    grid-template-columns: subgrid; */
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
}

.projects article h2 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: 300%;
}

body.resume h2 {
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin-block: 1em;
    min-width: 6em;
}

body.resume img {
    display: block;
    margin: 1em 0;
    border-radius: 10px;
    max-width: 200px;
    height: auto;
}

body.resume h2:hover {
    border-bottom: 0.4em solid var(--color-accent-strong);
    color: white;
    background-color: var(--color-accent-hover);
}

body.contact h2 {
    background-color: var(--color-accent);
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 1em;
    border-radius: 999px;
    margin-block: 1em;
    width: 10em;
}


body.contact h2:hover {
    border-bottom: 0.4em solid var(--color-accent-strong);
    color: white;
    background-color: var(--color-accent-hover);
}